.noo-wrapper
  %section#search-box.wrap.search-box
    = render 'layouts/site/search'
  .container.noo-mainbody
    .noo-mainbody-inner
      .row.clearfix
        .noo-content.col-xs-12
          .recent-properties
            .properties.list
              .properties-header
                %h1.page-title Imóveis
              .properties-content
                - @properties.each do |property|
                  %article.hentry
                    .property-featured
                      %a.content-thumb{:href => "#{property_path(property)}"}
                        %img{:alt => "",:class => "thumb-list", :src => "#{property.thumb? ? property.thumb : '/images/property/property1.jpg'}"}/
                      %span.property-label
                        = property.type_property.humanize
                      %span.property-category
                        %a{:href => "#{property_path(property)}"}
                          = property.name
                    .property-wrap
                      %h2.property-title
                        %a{:href => "#{property_path(property)}", :title => "#{property.name}"}
                          = property.group
                          = property.number
                          = property.block
                          = property.region
                      .property-excerpt
                        %p
                          = property.description
                        %p.property-fullwidth-excerpt
                          = property.description
                      .property-summary
                        .property-detail
                          .size
                            %span
                              =property.area
                              M²
                          .bedrooms
                            %span
                              = property.rooms
                          .bathrooms
                            %span
                              = property.suit
                        .property-info
                          .property-price
                            %span
                              %span.amount
                                = number_to_currency property.value
                          .property-action
                            .property-links
                              %a{:href => "#{property_path(property)}"} Mais Detalhes
                            .property-links
                              %a{:href => "#{property.link_tour}", :target => "_BLANK"}
                                %span.glyphicon.glyphicon-map-marker
                                Tour 360
                        .property-info.property-fullwidth-info
                          .property-price
                            %span
                              %span.amount
                                = number_to_currency property.value
                          .size
                            %span
                              =property.area
                              M²
                          .bedrooms
                            %span
                              = property.rooms
                          .bathrooms
                            %span
                              = property.suit
                    .property-action.property-fullwidth-action
                      .property-links
                        %a{:href => "#{property_path(property)}"} Mais Detalhes
                      .property-links.property-invese-link-mod
                        %a{:href => "#{property.link_tour}"}
                          %img{:alt => "", :src => "/images/icon/icon-360.png"}/
                .clearfix
