.noo-wrapper
  %section#search-box.wrap.search-box
    = render 'layouts/site/search'
  %section#our-partners.wrap.our-partners
    .container
      .section-title
        %h3 Busca Exclusiva
      .our-partners-inner
        .row
        - Button.principal.order(:order).each do |button|
          .col-sm-6.col-md-2.item-col
            = link_to image_tag(button.image_path), properties_path(link_client: button.link),class: 'img-item'
  %section#recent-.wrap.recent-properties
    .container
      .recent-properties-inner
        .section-title
          %h3 Imóveis Destaques
        .recent-properties-content
          - @properties = Property.where(featured: true).limit(8).order(:created_at)
          - if @properties.present?
            %ul
              %li
                .property-row
                  - @properties[0..7].each do |featured|
                    %article.hentry.has-featured.mod1_home
                      .property-featured
                        %a.content-thumb{:href => "#{property_path(featured)}"}
                          %img.attachment-property-thumb.featured-thumb-home{:alt => "", :src => "#{featured.thumb? ? featured.thumb : '/images/property/property1.jpg'}"}/
                        %span.property-category.new_name
                          %a{:href => "#{property_path(featured)}"}
                            = featured.name
                        .property-detail.mod-detail
                          .size
                            %span
                              = featured.area
                              M²
                          .bedrooms
                            %span
                              = featured.rooms
                          .bathrooms
                            %span
                              = featured.suit
                  -# .property-row
                  -#   - @properties[2..3].each do |featured|
                  -#     %article.hentry.has-featured
                  -#       .property-featured
                  -#         %a.content-thumb{:href => "#{property_path(featured)}"}
                  -#           %img.attachment-property-thumb.featured-thumb-home{:alt => "", :src => "#{featured.thumb? ? featured.thumb : '/images/property/property1.jpg'}"}/
                  -#         %span.property-category.new_name
                  -#           %a{:href => "#{property_path(featured)}"}
                  -#             = featured.name
                  -#         .property-detail
                  -#           .size
                  -#             %span
                  -#               = featured.area
                  -#               M²
                  -#           .bedrooms
                  -#             %span
                  -#               = featured.rooms
                  -#           .bathrooms
                  -#             %span
                  -#               = featured.suit
                  -#       .property-wrap
                  -#         %h2.property-title
                  -#           %a{:href => "#{property_path(featured)}", :title => "#{featured.name}"}
                  -#             = featured.group
                  -#             = featured.number
                  -#             = featured.block
                  -#         .property-excerpt
                  -#           %p
                  -#             = featured.description
                  -#       .property-summary
                  -#         .property-info
                  -#           .property-price
                  -#             %span
                  -#               %span.amount
                  -#                 = number_to_currency featured.value
                  -#           .property-action
                  -#             %a{:href => "#{property_path(featured)}"} Mais Detalhes
